html{
    box-sizing: border-box;
}
body{
    display: block;
    font-family:'Lato light 300 italic', sans-serif;
    font-size:100%;
    background-color: white;
    max-width:100%;
    box-sizing: border-box;


}
header{
    display:flex;
    background-color:#003049;
    flex-direction: column;
    align-items:center;
    justify-items:center;
    margin:auto;
    list-style:none;
}
header img{
    max-width:100px;
}
.heading{
    display:flex;
    flex-direction: row;
    margin:auto;
}
socials{
    display:flex;
    align-items: center;
}
logo{
    display:flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
}
.icon img{
    width: 25px;
    
}
.title{
    font-size:0.5em;
    display:block;
    color:white;
}
nav{
    display:flex;
    background-color:#003049;
    max-width: 700px;
    margin:auto;

}
.navMenu{
    display:block;
    min-width: 50px;
}
.navMenu a{
    display:block;
    /*padding:10px;*/
    text-align:center;
    text-decoration:none;
    color:white;
    font-weight: 600;
    transition: 0.5s;
    font-size:clamp(1rem, 2vmin, 1.5rem);
}
.navMenu li:first-child{
    display:block;
}
.navMenu li{
    display:none;
}
.responsive{
    display: block;
}
.responsive li:first-child{
    display:block
}
.responsive li{
    display:block;
}
#menuButton::before {
	content: "≡";
	font-size: 2rem;
}
.responsive #menuButton::before {
	content: "X";
}
main{
    display:flex;
    flex-direction: column;
    margin:auto;

    
}
.box {
    flex:1;
    display:inline-block;
    overflow:hidden;
    background-color: #EAE2B7;
    border-style: solid;
    max-height:100%;
    margin:auto;
    padding:15px;




}
.spotBox{
    height:100%;
}
.spot3{
    display:none;
}




footer img{
    width:100px;
}
