html{
    box-sizing: border-box;
}
body{
    display: block;
    font-family:'Lato light 300 italic', sans-serif;
    font-size:100%;
    background-color: white;
    max-width:100%;
    box-sizing: border-box;


}
header{
    display:flex;
    background-color:#003049;
    flex-direction: column;
    align-items:center;
    justify-items:center;
    margin:auto;
    list-style:none;
    padding:5px;
}
.logo img{
    max-width:90px;
}
.heading{
    display:flex;
    flex-direction: row;
    margin:auto;
    padding:10px;
}
.socials{
    display:flex;
    align-items: center;
    justify-items:center;
    padding:10px;
    margin:10px;
}
#headDate{
    border:solid;
    padding:10px;
    background-color: #EAE2B7;
    width: 80%;
}
.logo{
    display:flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
}
.icon img{
    width: 25px;
    
}
.title{
    font-size:0.5em;
    display:block;
    color:white;
}
nav{
    display:flex;
    background-color:#003049;
    max-width: 700px;
    margin:auto;

}

.navMenu{
    display:flex;
    min-width: 50px;
}
.navMenu a{
    display:flex;
    /*padding:10px;*/
    text-align:center;
    text-decoration:none;
    color:white;
    font-weight: 600;
    transition: 0.5s;
    font-size:clamp(1rem, 2vmin, 1.5rem);
}
.navMenu li:first-child{
    display:flex;
}
.navMenu li{
    display:none;
}
.responsive{
    display: flex;
}
.responsive li:first-child{
    display:flex;
}
.responsive li{
    display:flex;
}
#menuButton::before {
	content: "≡";
	font-size: 2rem;
}
a#menubutton::before{
    margin:auto;
    justify-self: center;
    align-self:center;
}
.responsive #menuButton::before {
	content: "X";
}
.navMenu a:hover{
    color:#EF6F6C;
}
main{
    display:flex;
    flex-direction: column;
    margin:auto;
    gap:1em;
    padding:1em;
    
}
.box {
    display:block;
    overflow:hidden;
    background-color: #EAE2B7;
    border-style: solid;
    max-height:100%;
    margin:auto;
    padding:15px;
    width:80%;




}

.spot3{
    display:none;
}




footer img{
    width:100px;
}
footer{
    background-color: #003049;
    display:flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    text-align: center;
    color:white;
}
map{
    padding-bottom:15px;
}
.pin{
    width:40px;
}

footing{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top:solid;
}
footing p{
    padding:5px;
}
